body {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    margin: 1rem;
}

#canvas-container {
    position: relative;
}

#controls {
    background-color: #fff;
    padding: 1rem;
    border-top: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    box-sizing: border-box;
}

body.dark-mode #controls {
    background-color: #333;
    border-top-color: #666;
}

#star-canvas {
    border: 1px solid #000;
    background-color: #fff;
}
.toggle-container {
    cursor: pointer;
    font-size: 1.5rem;
}

.moon {
    display: none;
}

body.dark-mode .sun {
    display: none;
}

body.dark-mode .moon {
    display: inline;
}

body.dark-mode {
    background-color: #333;
    color: #f0f0f0;
}

body.dark-mode #star-canvas {
    background-color: #444;
    border-color: #fff;
}